@font-face {
  font-family: 'Spartan';
  src: local('Spartan'), url(./fonts/Spartan/Spartan-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: 'Spartan';
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media(min-width: 501px) {
  .mobile-wind {
    display: none !important;
  }
}
